<h1>Display your Pirate here</h1>
<ul>
   <li> <%= @pirate.name %></li>
   <li> <%= @pirate.weight %></li>
    <li><%= @pirate.height %></li>
</ul>
<h2>Display your first ship here</h2>
    <%= @ships.first.name %>
    <%= @ships.first.type %>
    <%= @ships.first.booty %>

<h2>Display your second ship here</h2>
    <%= @ships.last.name %>
    <%= @ships.last.type %>
    <%= @ships.last.booty %>
