<h1>Pirate</h1>
<div class="Pirate">
   <p>Name: <%= @pirate.name %></p>
   <p>Weight: <%= @pirate.weight %></p>
   <p>Height: <%= @pirate.height %></p>
</div>

<h2>Ship</h2>
   <%= @ships.each do |ship| %>
       <div class="Ship">
          <p>Name: <%= ship.name %></p>
          <p>Type: <%= ship.type %></p>
          <p>Booty: <%= ship.booty %></p>
       </div>
    <% end %>


