<h1>Pirate Information</h1>
<div class="pirate">
    <p>
    Name: <%= @pirate.name %><br>
    Weight: <%= @pirate.weight %><br>
    Height: <%= @pirate.height %>
    </p>
</div><br>
<h2>Ship Details</h2>
<div class="ship">
    <% @ships.each do |ship| %>
        <p>
        Name: <%= ship.name %><br>
        Type: <%= ship.type %><br>
        Booty: <%= ship.booty %>
        </p>
    <% end %>
</div>
