<!DOCTYPE html>
<html>
<body>

<h1>Display your Pirate here</h1>

<p>Pirate Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<% @ships.each do |e| %>
    <div class="ship">
        <h2>Ship</h2>
        <p>Name: <%= e.name %></p>
        <p>Type: <%= e.type %></p>
        <p>Booty: <%= e.booty %></p>
    </div><br>
<% end %>

</body>
</html>
