<div class="pirate">
  <h2>Pirate</h2>
	<p>
    Name: <%= @pirate.name %><br>
	  Weight: <%= @pirate.weight %><br>
    Height: <%= @pirate.height %>
  </p>
</div>

<% @ships.each.with_index(1) do |ship, index| %>
  <div class="ship">
    <h2>Ship <%= index %></h2>
    <p>
      Name: <%= ship.name %><br>
      Type: <%= ship.type %><br>
      Booty: <%= ship.booty %>
    </p>
  </div>
<% end %>