<h1>Display your Pirate here</h1>
<h2><%=@pirate.name%></h2>
Weight: <%=@pirate.weight%><br>
Height: <%=@pirate.height%><br>

<h2>Ship 1:<%=@ships[0].name%> </h2> 
<h3>Type: <%=@ships[0].type%></h3>
<h3>Booty: <%=@ships[0].booty%></h3>

<h2>Ship 2:<%=@ships[1].name%> </h2> 
<h3>Type: <%=@ships[1].type%></h3>
<h3>Booty: <%=@ships[1].booty%></h3>
